/* 見た目調整用 */
body {
  /* フォントの種類を指定 */
  font-family: sans-serif;
}

p {
  font-size: 14px;
  margin-bottom: 1em;
}

.container {
  background-color: #f1c40f;
}

.container > div {
  background-color: #2ecc71;
  padding: 10px;
  height: 80px;
}

.container {
  /* グリッドコンテナ */
  display: grid;
  /* 最小100px、最大1frの列を繰り返しつくる */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}
