/* 見た目調整用 */
p {
  font-size: 14px;
  margin-bottom: 1em;
}

.container {
  background-color: #ffff6e;
}

.container > div {
  background-color: #00AC0D;
  padding: 10px;
  height: 80px;
}

.container {
  /* グリッドコンテナ */
  display: grid;
  /* 最小100px、最大1frの列を繰り返しつくる */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
